extends layout 

block content 

    div.comment-form
    form(method='POST', action='')
        div.from-group
            label(for='title') Title
            input#username.form-input(type='text', name='title')
        div.from-group
            label(for='comment') Leave a comment. 
            textarea(name="comment", cols="30", rows="10" ) 
        button.btn-submit(type='submit') Submit        



    


    