extends layout

block content
  if(user)
    a(href='action/message') Leave a message
  if(messages)
    each message in messages
      div.message
        h2= message.title
        p= message.text
        if(user)
          if((user && user.is_member) || (user.username === message.user.username))
            a(href=(`/message/user/${message.user._id}`)) by #{message.user.username}
          else 
            p Anonymous
        else 
          p Anonymous

