doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#nav
      a(href='../') Auth-app 
      div#entry
        if (!user)
          a(href='/sign-up') Sign up
          a(href='/login') Log in
        else 
          h3= user.username
          a(href='/log-out') Log out
            if(!user.is_member)
              a(href='/action/membership') Membership
            
    block content
