extends layout 

block content 
    h1 Log in 

    form(method='POST', action='')
        div.from-group
            label(for='username') Username 
            input#username.form-input(type='text' placehoder='User', name='username')
        div.from-group
            label(for='password') Password
            input#password.form-input(type='password', name='password')
        div.from-group
        button.btn-submit(type='submit') Submit        



    



