extends layout 

block content 
    h1 Log in 

    form(method='POST', action='')
        div.from-group
            label(for='secretword') Speak friend and become a member
            input#username.form-input(type='text' placehoder='User', name='secretword')
        button.btn-submit(type='submit') Submit        

    



