extends layout

block content
  a(href='/message') Leave a message
  if(messages)
    each message in messages
      div.message
      h2= message.title
      a(href=(`/`)) Go Back
      p= message.text
